.menu{
    padding: 50px 0;
}
.menu-type-item{
    text-align: center;
    background-color: var(--black);
    color: var(--lwhite);
    transition: all 0.3s ease;
}
.menu-type-item a{
    padding: 10px 0;
}
.menu-type-item.active,
.menu-type-item:hover{
    background-color: var(--primary);
}
.menu-item{
    margin-top: 30px;
}
.menu-item__content{
    padding: 20px;
    border-radius: 15px;
    transition: all 0.3s ease;
    text-align: center;
}
.menu-item__content h5{
    font-size: 2rem;
}
.menu-item:hover .menu-item__content{
    background-color: var(--primary);
}
.menu-item__content .btnorder{
    padding: 10px 0;
    margin-top: 10px;
    text-align: center;
    background-color: var(--primary);
    transition: all 0.3s ease;
}
.menu-item__content:hover .btnorder{
    background-color: rgba(255, 255, 255, 0.685);
}
.menu-item__content p{
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
}

.pagination{
	margin: 40px;
	text-align:center;
	font-size: 0;
}
.pagination li{
	display: inline-block;
}
.pagination a{
	background-color: var(--bprimary);
	color: white;
	display: inline-block;
	padding: 5px 12px;
	font-size: 1.4rem;
	cursor: pointer;
	transition: all 0.3s ease;
}
.pagination a.active,.pagination a:hover{
	background-color: var(--primary);
}